
        body {
            font-family: 'Roboto', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #ffe9fb;
            color: #767474;
            text-align: center;
            font-size: 1.5em;
        }

        header{
            background-color: #ffb8e9;
            color: #ff0000;
            text-align: center;
            font-size: 1.2em;
        }

        nav ol {
            color: #000000;
            list-style-type: none;
            padding: 0;
        }

        nav ol li {
            color: #ffa8ff;
            display: inline;
            margin-right: 10px;
        }
        nav ol li a {
            text-decoration: none;
            color: #04352e;
        }
        .csmjutext {
            color: #998599;
            font-weight: bold;
            margin: 10px 0;
        }

        main {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        csmjumage{
            font-size: 1.2em;
            color: #ff0000;
            margin: 50px 0;
        }

        .csimage {
            width: 200px;
            height: 350px;
        }